.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 100px;
  margin-right: 8px;
}

.nav-items-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
}

.link-item {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  text-decoration: none;
  margin-left: 50px;
  list-style-type: none;
}

.free-trial-btn {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  color: #ffffff;
  background-color: #0967d2;
  font-family: 'Roboto';
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
}

.home-text {
  color: #0967d2;
}
